doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Juega
div#loader.loader
h1 Código de partida: &nbsp;
    span#code #{code}
h1 Jugadores conectados: &nbsp;
    span#totalPlayers
    span#players

div#game
    form#wordForm
        .for-group
            label(for="word") Escríbe en una palabra:
            input#word

        .form-group
            button(type="submit") Enviar

    canvas#draw

input#codeInput(type="hidden" value=code)
input#nikInput(type="hidden" value=nik)

script(src="/socket.io/socket.io.js")
script(src="/js/game.js")
